html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  	background: #b9b1b1;
	font-family: "lora-regular", serif;
	font-size: 1.7rem;
	line-height: 3rem;
	/* color: #ecab6f; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
